body {
    background-position:center;
    background-image: url(image/back.png);
    background-size: 100% 100%;
    background-color: #F2EEF1;
    
  }
  
  #image{
      align-self: center;
      width: 40%;
      height: 40%;
      float:right;
      margin-right: 10%;
  }
